<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="blog-post-container">
        <h1 class="blog-post-title">{{ post.title }}</h1>
        <p class="blog-post-meta">By <span class="blog-post-author">{{ post.author }}</span> on <span class="blog-post-date">{{ post.date }}</span></p>
        <div class="blog-post-content">
            {{ post.content }}
        </div>
        <a href="{{ url_for('blogs') }}" class="back-to-blogs">Back to Blogs</a>
    </div>
</body>
</html>